.container{
  padding-top:112px;
}
.searchContainer{
  position: fixed;
  padding:24px 32px;
  top:0;
  left:0;
  right:0;
  margin: auto;
  background: #fff;
}
.searchWrapper{
  width: 0;
}
.searchBtn{
  color:#21222D;
  font-size: 30px;
  padding: 20px;
}
