.container{
  position: fixed;
  width: 280px;
  height: 280px;
  top:0;
  left:0;
  right:0;
  bottom:300px;
  margin: auto;
}
.img{
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 280px;
}
.font{
  color: #A8A8A9;
  font-size: 28px;
  text-align: center;
  display: block;
}
